.project-heading {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
}

.project .card-body img {
  height: 24px;
  object-fit: contain;
}

.project {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-left: 40px;
    padding-bottom: 20px;
    justify-content: 'space-between';
}

.card {
    border-radius: 5px;
    border: 0.2px solid white;
}