.heading {
    padding-left: 20px;
    position: relative;
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.year {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    justify-content: 'space-between';
}

.tech {
    background-color: grey;
}

.project {
    padding-bottom: 20px;
}

.card {
    border-radius: 5px;
    border: 0.2px solid white;
}